{% load i18n %}
{% load static %}
<footer class="bg-light text-dark">
  <div class="container">
    <div class="row py-4">
      <div class="col-12 text-center">
        <p>
          {% blocktrans with sitename=site_name %}<span>{{ sitename }}</span> was made with ❤️ and ☕️.{% endblocktrans %}<br />
          <a href="/{% if LANGUAGE_CODE != 'en' %}{{ LANGUAGE_CODE }}/{% endif %}privacy-policy/" class="text-dark">{% trans 'Privacy Policy' %}</a>
        </p>
      </div>
    </div>
  </div>
</footer>